#wrapper {
    width: 100%;
    overflow: hidden;
}
#container {
    width: 100%;
    margin: 0 auto;
}
.banner-img {
    width: 100%;
}

.navigation a {
    color: black;
    padding: 20px;
    margin 20px;
}

body {
    /*background-color: #fff0ed;*/
    background: url(http://taioffice.com/uploads/ctv_10/pink-shiny-with-bokeh-effect-background_1114-50.jpg);
    background-size: cover;
    font-family: 'Poiret One', cursive;
}

h1, h2, h3, h4, h5, h6, p {
    padding-left: 40px;
    padding-right: 40px;
    display: block;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.content {
    margin-left: 40px;
    margin-right: 40px;
}

.homepage {
    text-align: center;
}

.glyphicon {
    float: right;
}

.activity {

}

.date {
    color: #828282;
}

.save {
    float: right;
    margin-right: 80px;
}

.post-form textarea, .post-form input {
    width: 80%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}