{%  extends 'wedding/base.html' %}

{% block content %}
    <div class="guestbook">
        <h2>Leave a note for the groom and bride!</h2>

        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Submit</button>
        </form>

        <h3><br>Notes left by our guests:</h3>

        {% for guestnote in guestnotes %}
            <div class="guestnote">
                <div class="date">{{ guestnote.created_date }}</div>
                <strong>From: {{ guestnote.author }}</strong>
                <p>{{ guestnote.text|linebreaks }}</p>
            </div>
        {% endfor %}

    </div>
{% endblock %}
